# Sara Park

# Research Question

**Does ease of online booking and online boarding affect satisfaction, and if so does age matter?**


## Research question/interests

My research interests are psychology - behavioral mostly. As we have a group member in business, we combined our ideas for the topic of psychology in marketing.

In [1]:
import pandas as pd
import numpy as np

dta = pd.read_csv("../data/raw/Invistico_Airline.csv")
dta = pd.DataFrame(dta)

dta.head()

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,...,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,...,2,3,4,4,4,2,3,2,310,305.0
2,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,...,2,2,3,3,4,4,4,2,0,0.0
3,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,...,3,1,1,0,1,4,1,3,0,0.0
4,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,...,4,2,2,0,2,4,2,5,0,0.0

------

- Data Analysis Plan
    - I plan on subsetting the satisfaction and ease of online booking columns from the dataset to determine if there is a trend between whether the customer's satisfaction is affected by the level of ease in booking flight tickets online. First I will clean the data to ensure neither of the factors contain NA or null. The determination of the ease of online booking uses a scale of 0 to 5, where 0 is not easy and 5 is very easy. To use Pearson's r to find the correlation between the two, it will be easier for me to convert the satisfaction column into a factor to separate between satisfied and disatified customers and analyze the scores between the ease of online booking scores.

In [6]:
df = dta[['satisfaction','Ease of Online booking','Online boarding','Age']].dropna()
df.describe().T
# mean = booking: 3.472105; boarding: 3.352587; age: 39.427957
# std = booking: 1.30556; boarding: 1.298715; age: 15.119460

,count,mean,std,min,25%,50%,75%,max
Ease of Online booking,129880.0,3.472105,1.305560,0.0,2.0,4.0,5.0,5.0
Online boarding,129880.0,3.352587,1.298715,0.0,2.0,4.0,4.0,5.0
Age,129880.0,39.427957,15.119360,7.0,27.0,40.0,51.0,85.0

In [7]:
df.describe(exclude=[np.number]).T
# 71087/129880 # 0.54738303
# 55% Satisfaction 


satisfied = df.loc[df['satisfaction'] == 'satisfied'].mean()
print(satisfied)    # booking: 3.984751; boarding: 3.751966; age: 41.050051

dissatisfied = df.loc[df['satisfaction'] == 'dissatisfied'].mean()
print(dissatisfied)     #booking: 2.852261; boarding: 2.869695; age: 37.466671

C:\Users\sarap.sara\AppData\Local\Temp\ipykernel_7436\3544752913.py:6: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  satisfied = df.loc[df['satisfaction'] == 'satisfied'].mean()

Ease of Online booking     3.984751
Online boarding            3.751966
Age                       41.050051
dtype: float64
Ease of Online booking     2.852261
Online boarding            2.869695
Age                       37.466671
dtype: float64

C:\Users\sarap.sara\AppData\Local\Temp\ipykernel_7436\3544752913.py:9: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dissatisfied = df.loc[df['satisfaction'] == 'dissatisfied'].mean()