# Adam Daniel Ristau

## Research Question

**How do the on-flight service factors such as seat comfort, leg-room, on-board service correlate to each other? Do the ages change depending on how these factors are rated?**

## Research question/interests

Management major and potential Computer Science minor. Have a diverse set of interests through various fields. However, mainly looking to focus my interests on Entrepreneurship, Finance, or Marketing.

In [ ]:
import pandas as pd
import numpy as np

dta = pd.read_csv("../data/raw/Invistico_Airline.csv")
dta = pd.DataFrame(dta)

dta.head()

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,...,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,...,2,3,4,4,4,2,3,2,310,305.0
2,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,...,2,2,3,3,4,4,4,2,0,0.0
3,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,...,3,1,1,0,1,4,1,3,0,0.0
4,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,...,4,2,2,0,2,4,2,5,0,0.0

In [ ]:
df = dta[['satisfaction','Seat comfort','Leg room service', 'On-board service', 'Age']].dropna()
df.describe().T

                     count       mean        std  min   25%   50%   75%   max
Seat comfort      129880.0   2.838597   1.392983  0.0   2.0   3.0   4.0   5.0
Leg room service  129880.0   3.485902   1.292226  0.0   2.0   4.0   5.0   5.0
On-board service  129880.0   3.465075   1.270836  0.0   3.0   4.0   4.0   5.0
Age               129880.0  39.427957  15.119360  7.0  27.0  40.0  51.0  85.0

In [ ]:
df.describe(exclude=[np.number]).T

               count unique        top   freq
satisfaction  129880      2  satisfied  71087



- Data analysis plan
    - I subsetted  seat comfort, leg room service, on-board service and age from the original dataset. This allows clear observations and trends between these factors to be determined. Then, I will remove data that are NA or null, providing me with a cleaner dataaset. These factors use a scale of 0-5 to help determine the cleanliness of the aircraft - 0 being unsatisfactory and 5 being the very satisfied. I can compare the scores using Pearson's r to determine whether they are truly correlated or not. Furthermore, I can display this information on different types of graphs using what we have learned so far.